:root {
  --sticky-note-colour: hsl(44, 100%, 90%);
  --background-colour: hsl(201, 100%, 97%);
  --button-colour: hsl(209, 81%, 30%);
  --input-colour: hsl(342, 100%, 92%);
  --font: "Salsa";
}

body {
  font-family: var(--font);
  background: var(--background-colour);
}

.header__input {
  background-color: var(--input-colour);
}

.header__button-add {
  color: hsl(0, 0%, 100%);
  background-color: var(--button-colour);
  border-radius: 0.4rem;
}

button {
  font-family: var(--font);
}

hr {
  border: 0;
  height: 0.04rem;
  background-image: linear-gradient(
    to right,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.75),
    hsla(0, 0%, 0%, 0)
  );
}

.main__tasks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.task {
  background-color: var(--sticky-note-colour);
  box-shadow: 0.2rem 0.3rem;
  min-width: 6rem;
  padding: 1rem;
  max-width: 12rem;
  font-size: 0.8rem;
}

form,
.header_input {
  text-align: center;
}

ul {
  text-align: center;
  padding: 0.5rem;
  list-style: none;
  display: inline-block;
}

.checkBox {
  float: center;
}

.deleteButton > img {
  width: 0.8rem;
}

.deleteButton {
  padding: 0;
  border: 0;
  color: inherit;
  background: none;
  outline: none;
}

.footer__heading {
  font-family: var(--font);
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  color: hsl(0, 0%, 0%);
}
